header {
 padding: 30px;
 background-image: url('https://images.unsplash.com/photo-1475758034847-67f548b9f8d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
 background-size: cover;
 background-attachment: fixed;
 background-position: center;
 height: 100%;
}

 main {
  display: grid;
  grid-template-areas:
   'aside article article'
   'aside footer footer';
  grid-gap: 30px;
 
}

aside {
 grid-area: aside;
 background-color: purple;
 
}

article {
 grid-area: article;
 background-color: #ffffff;
 
}

footer {
 grid-area: footer;
 background-color: #6DB3BC;
 
}
